.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #901e1e;
  width: 100%;
  padding: 30px;
}

.pic {
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.text {
  margin: 10px;
}