.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  height: 90%;
  width: 100%;
  padding: 0px 100px;
}

.list {
  flex: 20%;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  border-top: 1px solid #6C6C6C;
  margin-top: 40px;
}

.listItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color: #838383;
  border-left: 1px solid #6C6C6C;
  border-bottom: 1px solid #6C6C6C;
  border-right: 1px solid #6C6C6C;
  cursor: pointer;
}

.listItem:hover {
  background-color: #9a9a9a;
}

.selected {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background-color: #FF981F;
  border-left: 1px solid #6C6C6C;
  border-bottom: 1px solid #6C6C6C;
  border-right: 1px solid #6C6C6C;
}

.content {
  flex: 70%;
  height: 100%;
  margin-left: 10%;
}