.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: #FF981F;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  margin-top: 40px;
  padding: 8px 20px;
  background-color: #FF981F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #fbaf58;
}